/* for Google Chrome */
input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 980px;
    height: 44px;
    background: #ddd;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-image: url('https://dl.dropboxusercontent.com/s/qvhdv7etz3g7o2i/slider%20thumb.png?dl=0');
    border: none;
    height: 44px;
    width: 44px;
    top: 0px;
}

/* for Firefox */
input[type=range]{
    /* fix for FF unable to apply focus style bug  */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: 300px;
}

input[type=range]::-moz-range-track {
    width: 1000px;
    height: 44px;
    background: #ddd;
    border: none;
}

input[type=range]::-moz-range-thumb {
    background-image: url('https://dl.dropboxusercontent.com/s/qvhdv7etz3g7o2i/slider%20thumb.png?dl=0');
    border: none;
    height: 44px;
    width: 44px;
    top: 0px
}
